@keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}
.alert-fade {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
}
img {
    max-width: 100%;
    height: auto;
}

.item {
    width: 800px;
    min-height: 450px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}