@keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}
.alert-fade {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
}
img {
    max-width: 100%;
    height: auto;
}

.item {
    width: 800px;
    min-height: 450px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

.sortable.source {
    /*background: #9FA8DA;*/
    flex: 0 0 auto;
    margin-right: 1em;
    cursor: move;
    cursor: -webkit-grabbing;
}

.sortable.target {
    /*background: #3F51B5;*/
    flex: 1 1 auto;
    margin-left: 1em;
}
.sortable-handle {
    cursor: move;
    cursor: -webkit-grabbing;
}
.sortable-handle.pull-right {
    margin-top: 0.3em;
}

.sortable-ghost {
    opacity: 0.6;
}


.ellipsis {
    overflow: hidden;
    height: 200px;
    line-height: 25px;
    margin: 0px;
}
.ellipsis:before {
    content:"";
    float: left;
    width: 5px; height: 200px; }

.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px; }		

.ellipsis:after {
    content: "\02026";  
    
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    
    float: right; position: relative;
    top: -25px; left: 100%; 
    width: 3em; margin-left: -3em;
    padding-right: 5px;
    
    text-align: right;
    
    background: -webkit-gradient(linear, left top, right top,
        from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);			
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); }