@keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}
.alert-fade {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
}
img {
    max-width: 100%;
    height: auto;
}

.item {
    width: 800px;
    min-height: 450px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

.sortable.source {
  /*background: #9FA8DA;*/
  flex: 0 0 auto;
  margin-right: 1em;
  cursor: move;
  cursor: -webkit-grabbing;
}

.sortable.target {
  /*background: #3F51B5;*/
  flex: 1 1 auto;
  margin-left: 1em;
}
.sortable-handle {
  cursor: move;
  cursor: -webkit-grabbing;
}
.sortable-handle.pull-right {
  margin-top: 0.3em;
}

.sortable-ghost {
  opacity: 0.6;
}
